*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
}
.left{
    width: 50%;

}
.king{
    width: 10px;
    margin-right: 10px;
}
.photto{

    width: 100%;
    height: 95.8vh;
    object-fit: cover;
}
body{
    margin: 0px;
}
.left h3{
    color: white;
    background-color: #7025FB;
    margin: 0px;
    padding: 10px 30px;
}
.right{
    background-color: #FD5334;
    width: 50%;
    height: 100vh;
}
.right h1{
    color:white;
    font-size: 50px;
    margin-left: 50px;
    font-family: 'Nunito', sans-serif;
}
.lot{
    color:black;
    font-size: 15px;
}
.right h1:first-child{
    margin-top: 200px;
}
.right button{
    margin-top: 100px;
    font-size: 22px;
    width: 190px;
    background-color: black;
    color:white;
    padding: 8px 12px;
    border-radius: 6px;
    border:none;
    margin-left: 50px;
}
.right a{
    color:white;
    text-decoration: none;
}